<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
<array>    
      <dict>
            <key>AttackSpeed</key>
            <real>0.2</real>
            <key>AttackRange</key>
            <real>500.0</real>
            <key>HardStrikeRate</key>
            <real>0.20</real>
            <key>BulletFlyingSpeed</key>
            <real>800.0</real>
      </dict>       
</array>
</plist>